*{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.btn{
	color: #ffffff !important;
	border-radius: .25rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);background-color: #2aacdd !important;
}
.btn:hover{
	background-color: #ffffff !important;
	color: #2aacdd !important;
	border-color: #2aacdd !important;
}
.contenedor-crearusuario{
  width: 100%;
  display: flex;

}
.formulario-crearusuario{
  width: 80%;
  margin:0 auto;
}
