  <div class="contenedor-crearusuario">
<form class="formulario-crearusuario" #agregaruserForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">{{labelNombre}}</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" placeholder="Ingrese el nombre" required pattern="[a-zA-Z]+" (keyup.enter)="onSubmit()">
        <label for="email">{{labelEmail}}</label>
        <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="Ingrese el correo" required pattern="[a-zA-Z]+" (keyup.enter)="onSubmit()">
        <label for="email">{{labelRol}}</label>
        <select name="id_role" class="form-control"  #id_role="ngModel" [(ngModel)]="user.id_role">
            <option *ngFor="let role of roles; let i = index;" value="{{role.id}}">{{role.roleName}}</option>

        </select>
        <label for="password">Numero:</label>
        <input type="text"  class="form-control input_user" value="" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber" placeholder="Número tel." required>
        <label for="password">Edad:</label>

        <input type="text"  class="form-control input_user" value="" name="age" #age="ngModel" [(ngModel)]="user.age" placeholder="Edad" required>

        <label for="password">{{labelPassword}}</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" placeholder="Ingrese la clave" required pattern="[a-zA-Z]+" (keyup.enter)="onSubmit()">

    </div>
    <button class="btn btn-block" type="submit">Enviar</button>
</form>
  </div>
<div *ngIf="estatusCreado">
    <div class="alert alert-success" role="alert">
        {{mensaje}}
      </div>

</div>
<div *ngIf="error">
    <div class="alert alert-danger" role="alert">
        {{mensajeError}}
      </div>

</div>
