<div class="alert " role="alert">
    <h4 class="alert-heading">Pagina No Encontrada</h4>
    <img src="../../../assets/images/Icos/error.svg" alt="" srcset="">
    <p></p>
    <p class="mb-0"></p>
</div>