




<app-carrousel></app-carrousel>

<!-- <div class="scene">
  <h1>Find my pet</h1>
  <div class="magic"></div>
</div>
<div> -->

  <!-- <div *ngFor="let item of i | slice:0:10; let i=index" class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
 <div class="container">
   <div class="card" >
      <img class="card-img-top" src="lostPetReport.piImageUrl" alt="Card image cap"/>

      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">esda</p>
      </div>
    </div>

</div>
</div> -->
<div class="portada">
<br>
  <p class="lead text-center " style="opacity: 3; font-size: 45px">
    <b>Nosotros</b>
  </p>


  <p class="lead text-center " style="text-align: justify; opacity: 3; font-size:3 5px; margin: 5%;" > FindMyPet es una aplicación que se dedica al rescate y reporte de perros y gatos, la forma en el que ayudamos a los animales es mostrando sus datos y la ubicación en la que se encuentran en caso de estar perdidos o si ya fueron rescatados.
    Nuestra meta es darles un bienestar a sus mascotas.</p>



</div>



    <app-iniciocards ></app-iniciocards>



