
/* @font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf');
  font-family: test;
} */



.card{
  width: 350px;

margin-left: auto;
margin-right: auto;
position: center;

}

.item {
  width: 50%;
}
.portacards{
  size: 100%;

}
.card:hover{
background-image: url('../../../assets/images/peluche.jpg');
}
.card img:hover{
border-radius:100%;
-webkit-border-radius:102%;
box-shadow: 0px 0px 15px 15px #2aacdd;
-webkit-box-shadow: 0px 0px 15px 15px #2aacdd;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
/* -webkit-transition: all .5s ease-in-out; */
}
.card-img-top{
margin-left: auto;
margin-right: auto;
position: center;
height: 300px;
width: 90%;}
/*
html,body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
} */
/* .scene {
  position: relative;
  height: 100%;
  background: #1d1f20;
  padding: 20rem;
  text-align: center;
}
h1 {
  position: relative;
  font-size: 8rem;
  text-transform: uppercase;
  font-family: test;
  color: #fff;
  z-index: 10;
}
.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url('https://www.elsiglodetorreon.com.mx/m/i/2018/02/1029398.jpeg') 90% 90% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}
.check-out {
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  font-family: test;


}

.check-out a{   color: rgba(255,170,170,1);} */
