<footer>
    <div id="copyDes">
        <div id="copyright">
            Copyright © 2020
        </div>
        <div id="desarrolladores">
            Desarrolladores FindMyPet
        </div>
    </div>
    <div id="redes">
        <i class="fab fa-facebook-f link"></i>
        <i class="fab fa-instagram link"></i>
        <i class="fab fa-linkedin-in link"></i>
    </div>
</footer>