#contenedorLogin{
    margin-top: 100px;
}

@media screen and (max-width:980px) {
    #contenedorLogin{
        margin-top: 100px;
    }
    
}
.user_card {
    height: auto;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f85b3c;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #2aacdd;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #2aacdd !important;
    color: white !important;
}
.login_btn:hover {
    width: 100%;
    background: #ffffff !important;
    color: #2aacdd !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #2aacdd !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
    
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #2aacdd !important;
}
.custom-control-label{
    font-weight: bold !important;
}
#linkRegistro{
    font-weight: bold !important;
}
#linkRegistro a{
    font-weight: bold !important;
    color: #000000;
}
