<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div *ngIf="err" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Ah ocurrido un error</strong> Revisa los datos e intenta de nuevo
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="contenedorLogin" class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="assets/images/logo.svg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form id="login-form" class="form" #userForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        
                        <input type="text"  class="form-control input_user" value="" name="name" #name="ngModel" [(ngModel)]="usuario.name" placeholder="Nombre" required>
                        
                    </div>
                    <div  *ngIf="!name.valid && name.touched" class="input-group mb-3">
                        <small >
                            El nombre no es valido
                        </small>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email"  class="form-control input_user" value="" name="email" #email="ngModel" [(ngModel)]="usuario.email" placeholder="Correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    </div>
                    <div  *ngIf="!email.valid && email.touched" class="input-group mb-3">
                        <small *ngIf="!email.valid && email.touched">
                            El correo no es valido
                        </small>
                    </div>
                        
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                        </div>
                        <input type="text"  class="form-control input_user" value="" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="usuario.phoneNumber" placeholder="Número tel." required>
                    </div>
                    <div  *ngIf="!phoneNumber.valid && phoneNumber.touched" class="input-group mb-3">
                        <small >
                            El teléfono no es valido
                        </small>
                    </div>
                        
                    
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                        </div>
                        <input type="text"  class="form-control input_user" value="" name="age" #age="ngModel" [(ngModel)]="usuario.age" placeholder="Edad" required>
                    </div>
                    <div  *ngIf="!age.valid && age.touched" class="input-group mb-3">
                        <small >
                            La edad no es valida
                        </small>
                    </div>
                    
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password" autocomplete="on"  class="form-control input_pass" value="" placeholder="clave" required pattern=".{8,}">
                    </div>
                    <div  *ngIf="!password.valid && password.touched" class="input-group mb-3">
                        <small >
                            La clave no es valida
                        </small>
                    </div>
                    
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Recuerdame</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn"  [disabled]="userForm.invalid">Iniciar</button>
                    </div>
                </form>
                
            </div>
            
            <div class="mt-4">
                <div id="linkRegistro" class="d-flex justify-content-center links">
                    ¿No tienes cuenta? <a href="#" class="ml-2">Registrate</a>
                </div>
            </div>
            <div class="mt-4" *ngIf="err">
                <div class="alert alert-danger" role="alert">
                    Usuario no valido
                </div>
            </div>
        </div>
    </div>
</div>
