<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<h1>{{titulo}}</h1>
<div class="row" >
    <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <label for="">Especie</label>
        <select class="form-control"  #id_petType="ngModel" name="id_petType" [(ngModel)]="lostPetReport.id_petType" required>
            <option value="">ninguno</option>
            <option *ngFor="let petType of petTypes; let i = index;" value="{{petType.id}}">{{petType.ptpName}}</option>
        </select>
    </div>
    <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <label for="">Sexo</label>
        <select class="form-control"  #id_petSex="ngModel" name="id_petSex" [(ngModel)]="lostPetReport.id_petSex" required>
            <option value="">ninguno</option>
            <option *ngFor="let petSex of petSexes; let i = index;" value="{{petSex.id}}">{{petSex.psName}}</option>
        </select>
    </div>
    <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <label for="">¿Tiene chip?*</label>
        <select class="form-control" #id_petChip="ngModel" name="id_petChip" [(ngModel)]="lostPetReport.id_petChip" required>
            <option value="">ninguno</option>
            <option *ngFor="let petChip of petChips; let i = index;" value="{{petChip.id}}">{{petChip.pcName}}</option>
        </select>
    </div>
</div>
<div class="row" >
    <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <label for="">¿Tiene placa?*</label>
        <select class="form-control" #id_petTag="ngModel" name="id_petTag" [(ngModel)]="lostPetReport.id_petTag" required>
            <option value="">ninguno</option>
            <option *ngFor="let petTag of petTags; let i = index;" value="{{petTag.id}}">{{petTag.ptName}}</option>
        </select>
    </div>
    <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <label for="">Municipio</label>
        <select class="form-control" #id_municipality="ngModel" name="id_municipality" [(ngModel)]="lostPetReport.petLocation.id_municipality" required>
            <option value="">ninguno</option>
            <option *ngFor="let municipio of municipios; let i = index;" value="{{municipio.id}}">{{municipio.mnName}}</option>
        </select>
    </div>
    <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <label for="">Proceso</label>
        <select class="form-control" #id_petProcess="ngModel" name="id_petProcess" [(ngModel)]="lostPetReport.id_petProcess" required>
            <option *ngIf="user.id_role==1" value="1" >En revisión</option>
            <option value="2">Perdido</option>
            <option value="3">Encontrado</option>

        </select>
    </div>
    <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <button class="btn draw-border" (click)="obtenerListaReportes()">Enviar</button>

    </div>

</div>
<div *ngIf="lostPetReports[0]"  class="row">
    <div *ngFor="let lostPetReport of lostPetReports; let i = index;" class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <app-reporte [lostPetReport]="lostPetReport" [configurar]="configurar">
        </app-reporte>
    </div>
</div>
<div *ngIf="errorBol">
    {{error}}
</div>