h1{
    text-align: center;
    color: #2aacdd;
    margin-top: 10px;
}
.row {
    margin-right: 0px !important;
   margin-left: 0px !important;
}
@media (max-width: 1227px){
    h1{
        font-size: 26px;
    }
}
@media (max-width: 767px){
    h1{
        font-size: 16px;
    }
}
.form-control{
  background: black;
  color: white;
  border-radius:40px;
}
.row option{
  color:white;
}
