<div class="container" id="perfilContenedor">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="{{usuario.urlImage}}" class="card__image">
                
                <p class="textoInfoUsuario">
                    Nombre: {{usuario.name}}
                </p>
                <p class="textoInfoUsuario">
                    Correo: {{usuario.email}}
                </p>
            

                <ul class="social-icons">
                <li><a [routerLink]="['/perfil/mis-reportes']"><i class="fas fa-file-alt"></i></a></li>
                <li><a href="#"><i class="fas fa-search-location"></i></a></li>
                </ul>
                <button class="btn draw-border" [routerLink]="['/perfil/modificar']">Modificar</button>
            
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="assets/images/ranking.jpg" class="card__image">
                
                <p class="textoInfoUsuario">
                    Reportes: 5
                </p>
                <p class="textoInfoUsuario">
                    Participación en busquedas: 4
                </p>
                <p class="textoInfoUsuario">
                    Mascotas encontradas: 7
                </p>
                <button class="btn draw-border">Modificar</button>
            
            </div>
        </div>
    </div>
  </div>
