<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="#"><img src="assets/images/logo.svg" alt="findmypet"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item men-space">
                    <a class="nav-link" id="inicio" [routerLink]="['/inicio']">
                        <span class="icono"><i class="fas fa-home"></i></span>
                        Inicio
                    </a>
                </li>
                <li class="nav-item men-space">
                    <a class="nav-link" [routerLink]="['/reportes']" [routerLinkActive]="['active']">
                        <p><span class="icono"><i class="fas fa-paw"></i></span>Mascotas</p>
                    </a>
                </li>
                <li class="nav-item men-space">
                    <a class="nav-link" [routerLink]="['/anunciate']" [routerLinkActive]="['active']">
                        <span class="icono">
                            <i class="fas fa-file-upload">
                            </i>
                        </span> 
                        <span>Anunciate</span>
                    </a>
                </li>
                <li class="nav-item men-space">
                    <a class="nav-link" [routerLink]="['/ranking']" [routerLinkActive]="['active']">
                        <span class="icono">
                            <i class="fas fa-medal"></i>
                        </span> 
                        <span>Ranking</span>
                    </a>
                </li>
                <li class="nav-item men-space">
                    <a class="nav-link" [routerLink]="['/nosotros']" [routerLinkActive]="['active']">
                        <span class="icono">
                            <i class="fas fa-users"></i>
                        </span> 
                        <span>Nosotros</span>
                    </a>
                </li>
            
            </ul>
            <ul class="navbar-nav mr-auto" *ngIf="user.id_role == 4">
                <li>
                    <a  class="nav-link" [routerLink]="['/acceder']" [routerLinkActive]="['active']">
                        <span class="icono"><i class="fas fa-sign-in-alt"></i></span> Acceder
                    </a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
                        <span class="icono"><i class="fas fa-user-tag"></i></span> Registro
                    </a>
                </li>
            </ul>
            <ul *ngIf="estado" class="navbar-nav mr-auto">
                <li *ngIf="user.id_role == 1||user.id_role == 2">
                    <a class="nav-link" [routerLink]="['/panel']" [routerLinkActive]="['active']">
                        <span class="icono"><i class="fas fa-home"></i> </span> Panel
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/perfil']" [routerLinkActive]="['active']">Información</a>
                    <a class="dropdown-item" [routerLink]="['/perfil/mis-reportes']">Mis reportes</a>
                    
                    </div>
                </li>
                <li>
                    <button id="btnSalir" (click)="CerrarSesion()"><span class="icono"><i class="fas fa-user-tag"></i></span> Salir</button>
                </li>
            </ul>
        </div>
    </nav>
</header>