<div id="TituloPagina">
    <div id="contTitulo">
        <h1>{{titulo}}</h1>
    </div>
    <div id="contBotonRegresar">
        <a id="btn_Regresar" [routerLink]="['/usuarios']" class="btn btn-secondary  regresarBtn" title="Regresar">
            <i class="fas fa-arrow-left"></i>
            Regresar
        </a>
    </div>
    
  </div>
<form *ngIf="user" id="login-form" class="form" id="formularioReporte" #modificarPerfilForm="ngForm">
    <div  class="container" id="contentedorConfiguracion">
        <div style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);display: flex;" class="row">
            
            <div class="col-sm-12">
                <div class="form-group">
                <label>Nombre completo:</label>
                <input name="name" class="form-control" required="true" value="{{user.name}}" #name="ngModel" [(ngModel)]="user.name" type="text" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label>Role</label>
                <input name="name" class="form-control" required="true" value="{{role}}" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label>Correo:</label>
                <input name="email" value="{{user.email}}" #email="ngModel" [(ngModel)]="user.email" class="form-control" required="true" type="text" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label>Teléfono:</label>
                <input name="phoneNumber" value="{{user.phoneNumber}}" #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber" class="form-control" required="true" type="text" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label>Edad:</label>
                <input name="age" value="{{user.age}}" #age="ngModel" [(ngModel)]="user.age" class="form-control" required="true" type="text" readonly>
                </div>
            </div>

        </div>
    
    </div>

</form>