#TituloPagina{
    width: 100%;
    height: 80px;
    padding: 15px 10px;
    margin-bottom: 10px;
}
#contTitulo{
    width: 80%;
    float: left;
    padding-left: 15px;
}
#contBotonRegresar{
    margin-top: 6px !important;
    
    width: 20%;
    float: left;
    padding-right: 15px;
}
#btn_Regresar{
    background-color: #2aacdd !important;
    color: white !important;
    border-color:  #2aacdd !important;
}
#btn_Regresar:hover{
    background-color: #fff !important;
    color: #2aacdd !important;

}
#contBotonRegresar a{
    float: right;
}

#TituloPagina h1{
    text-align: left;
    color: #2aacdd;
}

@media (max-width: 1227px){
    #contTitulo{
        width: 60%;
    }
    #contBotonRegresar{
        width: 40%;
    }
    #TituloPagina h1{
        font-size: 26px;
    }
}
@media (max-width: 767px){
    #contTitulo{
        width: 50%;
    }
    #contBotonRegresar{
        width: 50%;
    }
    #TituloPagina h1{
        font-size: 16px;
    }
}