<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div *ngIf="lostPetReports">
    <div *ngFor="let lostPetReport of lostPetReports; let i = index;">
        <app-reporte [lostPetReport]="lostPetReport">
        </app-reporte>
        
    </div>
</div>
<div *ngIf="errorBol">
    {{error}}
</div>