<div class="portada">

  <p class="lead text-center " style="opacity: 3; font-size: 45px">
    <b>Nosotros</b>
  </p>


  <p class="lead text-center " style="text-align: justify; opacity: 3; font-size:45px; margin: 5%;" > FindMyPet es una aplicación que se dedica al rescate y reporte de perros y gatos, la forma en el que ayudamos a los animales es mostrando sus datos y la ubicación en la que se encuentran en caso de estar perdidos o si ya fueron rescatados.
    Nuestra meta es dales un bienestar a sus mascotas.</p>





<app-carrouselnosotros></app-carrouselnosotros>


</div>

