<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div *ngIf="err" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Ah ocurrido un error</strong> Revisa los datos e intenta de nuevo
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div id="contenedorLogin" class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="assets/images/logo.svg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form id="login-form" class="form" action="">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text"  class="form-control input_user" value="" name="email" #email="ngModel" [(ngModel)]="usuario.email" placeholder="Correo">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" [(ngModel)]="usuario.password" autocomplete="on"  class="form-control input_pass" value="" placeholder="clave">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Recuerdame</label>
                        </div>
                    </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                 <button type="button" name="button" class="btn login_btn" (click)="login()">Iniciar</button>
               </div>
                </form>
            </div>
    
            <div class="mt-4">
                <div id="linkRegistro" class="d-flex justify-content-center links">
                    ¿No tienes cuenta? <a href="#" class="ml-2">Registrate</a>
                </div>
            </div>
        </div>
    </div>
</div>