<h1>{{titulo}}</h1>
<form id="login-form" class="form" id="formularioReporte" #modificarPerfilForm="ngForm" (ngSubmit)="onSubmit()">
  <div  class="container" id="contentedorConfiguracion">
    <div style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);display: flex;" class="row">
    <img src="{{usuario.urlImage}}" class="card__image">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Nombre completo:</label>
          <input name="name" class="form-control" required="true" placeholder="{{usuario.name}}" #name="ngModel" [(ngModel)]="usuario.name" type="text">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Teléfono:</label>
          <input name="phoneNumber" placeholder="{{usuario.phoneNumber}}" #phoneNumber="ngModel" [(ngModel)]="usuario.phoneNumber" class="form-control" required="true" type="text">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Edad:</label>
          <input name="age" placeholder="{{usuario.age}}" #age="ngModel" [(ngModel)]="usuario.age" class="form-control" required="true" type="text">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Clave:</label>
          <input name="password" placeholder="password" #password="ngModel" [(ngModel)]="usuario.password" class="form-control" required="true" type="password" autocomplete="on">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Repetir clave:</label>
          <input name="new-password" id="new-password" placeholder="new-password" class="form-control" required="true" type="password"  autocomplete="on">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
        <button  class="btn btn-block " id="btnIngresar" type="submit">Enviar</button>
        </div>
      </div>

    
    </div>
  </div>
</form>