h1{
    text-align: center;
    color: #2aacdd;
    margin-top: 10px;
}
.row {
    margin-right: 0px !important; 
   margin-left: 0px !important;
}
@media (max-width: 1227px){
    h1{
        font-size: 26px;
    }
}
@media (max-width: 767px){
    h1{
        font-size: 16px;
    }
}

.card__image{
    margin-left: 35%;
    width: 30%;
    max-height: 300px;
    border-radius: 50%;
  }