* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1030;
}
nav{
    color: white !important;
    background-color: #2AACDD !important;
}

nav img{
    width: 50px;
}
nav .nav-link{
    color: white !important;
}

.icono {
    display: none;
}
.men-space{
    margin-top: 10px;

}
#btnSalir{
    width: 60px;
    height: 100%;
    background-color: #2aacdd;
    border: none;
    color: #fff;
}
@media (min-width: 992px) {
    nav{
        height: 100px;
        padding-left: 5% !important;
    }
    nav #inicio{
        margin-left: 10px;
    }

    nav img{
        width: 80px;
    }
    nav #acceder{
        margin-left: 100px;
    }
    nav form{
        margin-right: 20px;
    }
    
}
@media (min-width: 1350px) {

    nav{

        padding-left: 10% !important;
    }
    
}

@media (max-width: 1349px) {
    nav input{
        width: 170px !important;
    }
    .men-space{
        margin-top: 0px;
    
    }
}
@media (max-width: 991px) {
    nav input{
        width: 220px !important;
    }
}



#contenido {
    padding-top: 100px;
    width: 100%;
    min-height: 1150px;
    background-color: #fff;
    background-size: auto;
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
}

#carouselExampleCaptions {
    width: 100%;
}


.clearfix {
    clear: both;
    margin: 0px auto;
}

.imgCarousel {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}




/**/

footer {
    width: 100%;
    height: 60px;
    background-color: #353535;
    color: #B0B0B0;
    padding-top: 20px;
    float: left;
}

#copyright {
    width: 30%;
    float: left;
    text-align: right;
}

#desarrolladores {
    width: 40%;
    float: left;
    text-align: center;
}

#redes {
    width: 30%;
    float: left;
}

.link {
    padding-right: .5rem;
    padding-left: .5rem;
}


@media screen and (max-width:1100px) {

    .icono {
        display: inline-block;
    }

    #contenido {
        padding-top: 66px;
    }
    footer {
        height: 80px;
        padding-top: 0px;
    }
    #copyDes {
        width: 100%;
        padding-top: 10px;
        height: 40px;
    }
    #copyright {
        width: 40%;
    }
    #desarrolladores {
        width: 60%;
    }
    #redes {
        width: 100%;
        float: left;
        text-align: center;
    }
    .link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .contenedorCardMascota {
        width: 45%;
        height: auto;
        margin-left: 2%;
        overflow: hidden;
    }
    .contenedorCardMascota img {
        width: 100%;
    }
    .descripcionCardMascota {
        height: auto;
        overflow: hidden;
    }
    .imgCarousel {
        height: 400px;
    }
}

@media screen and (min-height:900px)and (max-width:980px) {
    header nav {
        height: 100%;
    }
}
@media screen and (max-width:650px) {
    
    .imgCarousel {
        height: 300px;
    }
}

@media screen and (max-width:360px) {

    .imgCarousel {
        height: 200px;
    }
}