
  <div class="row">
<div *ngFor="let perro of perros; let i = index;" class="col-sm-1 col-md-6 col-lg-6 col-xl-6">

<div class="card">

  <img class="card-img-top" src="../../../assets/images/{{perro.name.surname}}" alt="Card image cap">

  <div class="card-body">
  <a class="card-title" href='/reportes'>{{perro.name.forename}}</a>


</div>
</div>
</div>
