
<div class="card">
    <h2>{{estadoReporte}}</h2>
    <img class="card-img-top" src="{{lostPetReport.piImageUrl}}" alt="Card image cap">

    <div class="card-body">
    <h5 class="card-title">{{lostPetReport.plLostDate}}</h5>
    <p class="card-text">{{lostPetReport.lprObservation}}</p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Edad: {{lostPetReport.lprAge}}</li>
    <li class="list-group-item">Cola: {{lostPetReport.lprTail}}</li>
    <li class="list-group-item">Orejas: {{lostPetReport.lprEar}}</li>
    <li class="list-group-item">Color: {{lostPetReport.lprColor}}</li>

    </ul>
    <div class="card-body">
        <a *ngIf="configurar" [routerLink]="['/reportes/info/',lostPetReport.id]" class="card-link">Información</a>
    <a *ngIf="configurar" [routerLink]="['/reportes/',lostPetReport.id]" class="card-link">Configurar</a>
    </div>
</div>
