h2{
    font-size: 14px;
    font-weight: 900;
    padding: 10px 5px 5px 5px;
    text-align: center;
}

.card{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;;
    width: 350px;
    background-color: #f85b3c;
    color:white;

}
.list-group-item{
  background-color: #f85b3c;
  color:white;
}
.form-control{
  background: black;
}
.card:hover{
  background-image: url('../../../assets/images/peluche.jpg');
}
.card img:hover{
  border-radius:100%;
  -webkit-border-radius:102%;
  box-shadow: 0px 0px 15px 15px #2aacdd;
  -webkit-box-shadow: 0px 0px 15px 15px #2aacdd;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  /* -webkit-transition: all .5s ease-in-out; */
}
.card-img-top{
  margin-left: auto;
  margin-right: auto;
  position: center;
  height: 300px;
width: 90%;}
