<div id="TituloPagina">
    <div id="contTitulo">
        <h1>{{titulo}}</h1>
    </div>
    <div id="contBotonRegresar">
        <a id="btn_Regresar" [routerLink]="['/reportes']" class="btn btn-secondary  regresarBtn" title="Regresar">
            <i class="fas fa-arrow-left"></i>
            Regresar
        </a>
    </div>
    
</div>
<div id="contenidoReporte">
    <div id="infoTexto">
        <img class="card-img-top" src="{{lostPetReport.piImageUrl}}" alt="Card image cap">
    </div>
</div>
<div class="row">
      <div class="form-group col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <div class="row" >
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Nombre</label>
            <input type="text" class="form-control" #lprPetName="ngModel" name="lprPetName" [(ngModel)]="lostPetReport.lprPetName" value="lostPetReport.lprPetName" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Especie</label>
            <input type="text" class="form-control" #ptpName="ngModel" name="ptpName" [(ngModel)]="lostPetReport.ptpName" value="lostPetReport.ptpName" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Raza</label>
            <input type="text" class="form-control" #lprBreedName="ngModel" name="lprBreedName" [(ngModel)]="lostPetReport.lprBreedName" value="lostPetReport.lprBreedName " readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Edad</label>
            <input type="text" class="form-control" #lprAge="ngModel" name="lprAge" [(ngModel)]="lostPetReport.lprAge" value="lostPetReport.lprAge" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Cola</label>
            <input type="text" class="form-control" #lprTail="ngModel" name="lprTail" [(ngModel)]="lostPetReport.lprTail" value="lostPetReport.lprTail" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Oreja</label>
            <input type="text" class="form-control" #lprEar="ngModel" name="lprEar" [(ngModel)]="lostPetReport.lprEar" value="lostPetReport.lprEar" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Municipio</label>
            <input type="text" class="form-control" #mnName="ngModel" name="mnName" [(ngModel)]="lostPetReport.mnName" value="lostPetReport.mnName" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Fecha de perdida:*</label>
            <input type="date" class="form-control" #plLostDate="ngModel" name="plLostDate" [(ngModel)]="lostPetReport.plLostDate" value="lostPetReport.plLostDate" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Código postal:</label>
            <input type="text" class="form-control" #plPostalCode="ngModel" name="plPostalCode" [(ngModel)]="lostPetReport.plPostalCode" value="lostPetReport.plPostalCode" readonly>
        </div>  
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Manzana:</label>
            <input type="number" class="form-control" #plManzana="ngModel" name="plManzana" [(ngModel)]="lostPetReport.plManzana" value="lostPetReport.plManzana" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Region:</label>
            <input type="number" class="form-control" #plRegion="ngModel" name="plRegion" [(ngModel)]="lostPetReport.plRegion" value="lostPetReport.plRegion" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Lote</label>
            <input type="number" class="form-control" #plLote="ngModel" name="plLote" [(ngModel)]="lostPetReport.plLote"  value="lostPetReport.plLote" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Color:</label>
            <input type="text" class="form-control" #lprColor="ngModel" name="lprColor" [(ngModel)]="lostPetReport.lprColor" value="lostPetReport.lprColor" readonly>
        </div>
        
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label>Telefono de contacto:</label>
            <input type="text" class="form-control" name="lprPhoneNumber" #lprPhoneNumber="ngModel" [(ngModel)]="lostPetReport.lprPhoneNumber" value="lostPetReport.lprPhoneNumber" readonly>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="">Tamaño</label>
            <input type="text" class="form-control"  #lprSize="ngModel" name="lprSize" [(ngModel)]="lostPetReport.lprSize" value="{{lostPetReport.lprSize}}" readonly>
        </div>
    </div>
    </div>
    <div class="form-group col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <label>Observaciones:</label>
        <textarea cols="40" rows="5" class="form-control" name="lprObservation" #lprObservation="ngModel" [(ngModel)]="lostPetReport.lprObservation"
        value="{{lostPetReport.lprObservation}}" readonly></textarea>
        <label>Proceso actual:</label>
        <input type="text" class="form-control"  #ppName="ngModel" name="ppName" [(ngModel)]="lostPetReport.ppName" value="{{lostPetReport.ppName}}" readonly>
    </div>
</div>

