<div id="TituloPagina">
  <div id="contTitulo">
      <h1>{{titulo}}</h1>
  </div>
  <div id="contBotonRegresar">
      <a id="btn_Regresar" [routerLink]="['/panel']" class="btn btn-secondary  regresarBtn" title="Regresar">
          <i class="fas fa-arrow-left"></i>
          Regresar
      </a>
  </div>
  
</div>
<button class="btn btn-primary" (click)="obtenerListaUsuarios('administradores')">Administradores</button>
<br>
<br>
<button class="btn btn-primary" (click)="obtenerListaUsuarios('colaboradores')">Colaboradores</button>
<br>
<br>
<button class="btn btn-primary" (click)="obtenerListaUsuarios('usuarios')">Usuarios</button>
<br>
<br>
<button class="btn btn-primary" (click)="crearUsuarioDiv()">Crear usuario</button>
<br>
<br>
<div *ngIf="usuarios.length >0" class="tablaUsuarios">
  <h5>{{rol.toUpperCase()}}</h5>
  <app-users-table [user]="usuarios">
  </app-users-table>
</div>
<app-users-create *ngIf="crearUsuario"></app-users-create>