<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Buscando... </p></ngx-spinner>

<h1>{{titulo}}</h1>
<div class="container" id="perfilContenedor">
    <div class="row">
        <div class="col">
            <div class="card">
              <h2>Anunciate</h2>
                <img src="assets/images/perros/perro2.jpg" class="card__image">
                <form id="login-form" class="form" id="formularioReporte" #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row" >
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Nombre*</label>
                            <input type="text" class="form-control" #lprPetName="ngModel" name="lprPetName" [(ngModel)]="lostPetReport.lprPetName" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Especie</label>
                            <select class="form-control"  #id_petType="ngModel" name="id_petType" [(ngModel)]="lostPetReport.id_petType" required>
                                <option *ngFor="let petType of petTypes; let i = index;" value="{{petType.id}}">{{petType.ptpName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Raza*</label>
                            <input type="text" class="form-control" #lprBreedName="ngModel" name="lprBreedName" [(ngModel)]="lostPetReport.lprBreedName" required>
                        </div>

                    </div>
                    <div class="row" >
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Edad*</label>
                            <input type="text" class="form-control" #lprAge="ngModel" name="lprAge" [(ngModel)]="lostPetReport.lprAge" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Cola*</label>
                            <input type="text" class="form-control" #lprTail="ngModel" name="lprTail" [(ngModel)]="lostPetReport.lprTail" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Oreja*</label>
                            <input type="text" class="form-control" #lprEar="ngModel" name="lprEar" [(ngModel)]="lostPetReport.lprEar" required>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Sexo</label>
                            <select class="form-control"  #id_petSex="ngModel" name="id_petSex" [(ngModel)]="lostPetReport.id_petSex" required>
                                <option *ngFor="let petSex of petSexes; let i = index;" value="{{petSex.id}}">{{petSex.psName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">¿Tiene chip?*</label>
                            <select class="form-control" #id_petChip="ngModel" name="id_petChip" [(ngModel)]="lostPetReport.id_petChip" required>
                                <option *ngFor="let petChip of petChips; let i = index;" value="{{petChip.id}}">{{petChip.pcName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">¿Tiene placa?*</label>
                            <select class="form-control" #id_petTag="ngModel" name="id_petTag" [(ngModel)]="lostPetReport.id_petTag" required>
                                <option *ngFor="let petTag of petTags; let i = index;" value="{{petTag.id}}">{{petTag.ptName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Municipio</label>
                            <select class="form-control" #id_municipality="ngModel" name="id_municipality" [(ngModel)]="lostPetReport.petLocation.id_municipality" required>
                                <option *ngFor="let municipio of municipios; let i = index;" value="{{municipio.id}}">{{municipio.mnName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Fecha de perdida:*</label>
                            <input type="date" class="form-control" #plLostDate="ngModel" name="plLostDate" [(ngModel)]="lostPetReport.petLocation.plLostDate" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Código postal:</label>
                            <input type="text" class="form-control" #plPostalCode="ngModel" name="plPostalCode" [(ngModel)]="lostPetReport.petLocation.plPostalCode">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Manzana:</label>
                            <input type="number" class="form-control" #plManzana="ngModel" name="plManzana" [(ngModel)]="lostPetReport.petLocation.plManzana">
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Region:</label>
                            <input type="number" class="form-control" #plRegion="ngModel" name="plRegion" [(ngModel)]="lostPetReport.petLocation.plRegion">
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Lote</label>
                            <input type="number" class="form-control" #plLote="ngModel" name="plLote" [(ngModel)]="lostPetReport.petLocation.plLote">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Color:</label>
                            <input type="text" class="form-control" #lprColor="ngModel" name="lprColor" [(ngModel)]="lostPetReport.lprColor">
                        </div>

                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label>Telefono de contacto:</label>
                            <input type="text" class="form-control" name="lprPhoneNumber" #lprPhoneNumber="ngModel" [(ngModel)]="lostPetReport.lprPhoneNumber">
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <label for="">Tamaño*</label>
                            <input type="text" class="form-control"  #lprSize="ngModel" name="lprSize" [(ngModel)]="lostPetReport.lprSize" required>
                        </div>
                    </div>
                    <div class="row" >

                        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label>Observaciones:</label>
                            <textarea cols="40" rows="5" class="form-control" name="lprObservation" #lprObservation="ngModel" [(ngModel)]="lostPetReport.lprObservation"
                            placeholder="Comentario..." required></textarea>
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label>Imagen:</label>
                            <input type="file" class="form-control" (change)="fileEvent($event)" style="font-size: 10px;">
                        </div>
                        <input type="hidden" class="form-control" #plLatitude="ngModel" name="plLatitude" [(ngModel)]="lostPetReport.petLocation.plLatitude">

                        <input type="hidden" class="form-control" #plLongitude="ngModel" name="plLongitude" [(ngModel)]="lostPetReport.petLocation.plLongitude">

                    </div>
                    <div id="divMapa"  >


                        <div id="mapa-mapbox"></div>



                    </div>
                    <div id="divBtnEnviar" style="margin-top: 20px;" >
                        <button class="btn draw-border" >Enviar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>



</div>


