<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div id="TituloPagina">
    <div id="contTitulo">
        <h1>{{titulo}}</h1>
    </div>
    <div id="contBotonRegresar">
        <a id="btn_Regresar" [routerLink]="['/usuarios']" class="btn btn-secondary  regresarBtn" title="Regresar">
            <i class="fas fa-arrow-left"></i>
            Regresar
        </a>
    </div>
    
  </div>
<form *ngIf="user" id="login-form" class="form" id="formularioReporte" #modificarPerfilForm="ngForm" (ngSubmit)="onSubmit()">
    <div  class="container" id="contentedorConfiguracion">
        <div style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);display: flex;" class="row">
            
            <div class="col-sm-6">
                <div class="form-group">
                <label>Nombre completo:</label>
                <input name="name" class="form-control"  value="{{user.name}}" #name="ngModel" [(ngModel)]="user.name" type="text" >
                </div>
                <div class="form-group">
                    <label>Correo:</label>
                    <input name="email" value="{{user.email}}" #email="ngModel" [(ngModel)]="user.email" class="form-control"  type="text" >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Rol actual</label>
                    <input name="roleName" class="form-control"  value="{{user.roleName}}" #roleName="ngModel" [(ngModel)]="user.roleName" type="text" readonly>
                     
                    
                </div>
                    
                <div class="form-group">
                    <label>Seleccionar rol</label>
                    <select name="id_role" class="form-control"  #id_role="ngModel" [(ngModel)]="user.id_role">
                        <option *ngFor="let role of roles; let i = index;" value="{{role.id}}">{{role.roleName}}</option>

                    </select>  
                </div>  

            </div>

            <div class="col-sm-6">
                <div class="form-group">
                <label>Teléfono:</label>
                <input name="phoneNumber" value="{{user.phoneNumber}}" #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber" class="form-control"  type="text" >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label>Edad:</label>
                <input name="age" value="{{user.age}}" #age="ngModel" [(ngModel)]="user.age" class="form-control"  type="text" >
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <button  class="btn btn-block " id="btnIngresar" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    
    </div>

</form>
