
<table *ngIf="user.length>0" datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of user; let i = index;">
        <td>{{usuario.name}}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{usuario.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Seleccionar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{usuario.id}}">
              <a class="dropdown-item" [routerLink]="['/usuarios/configuracion/',usuario.id]">Configurar</a>
              <a class="dropdown-item" [routerLink]="['/usuarios/detalle/',usuario.id]">Ver a detalle</a>
              <a *ngIf="usuario.id_role!=1" class="dropdown-item" href="#">Eliminar</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>